Data_Analysis2014/ACA.accdb
Data_Analysis2014/OriginalData2014/CC-health-plans-booklet-rev3.pdf
Data_Analysis2014/OriginalData2014/California.rar
Data_Analysis2014/OriginalData2014/Colorado.rar
Data_Analysis2014/OriginalData2014/Connecticut_main.xlsx
Data_Analysis2014/OriginalData2014/DistrictofColumbia.pdf
Data_Analysis2014/OriginalData2014/Federal and MA Age Curves.pdf
Data_Analysis2014/OriginalData2014/Hawaii.xlsx
Data_Analysis2014/OriginalData2014/Kentucky.xls
Data_Analysis2014/OriginalData2014/Marketplace_premium_databook_2014.xlsx
Data_Analysis2014/OriginalData2014/Maryland.zip
Data_Analysis2014/OriginalData2014/Massachusetts rate region map 11.13.pdf
Data_Analysis2014/OriginalData2014/Minnesota.rar
Data_Analysis2014/OriginalData2014/NV On Exchange Rates - Individual Market.pdf
Data_Analysis2014/OriginalData2014/New York Tax Credit and Premium Rate Estimator.xlsm
Data_Analysis2014/OriginalData2014/Oregon_original.pdf
Data_Analysis2014/OriginalData2014/RhodeIslandData.pdf
Data_Analysis2014/OriginalData2014/Vermont.pdf
Data_Analysis2014/OriginalData2014/Washington.zip
Data_Analysis2014/OriginalData2014/connecticut catastrophic rates 2014.xlsx
Data_Analysis2014/OriginalData2014/fed rates by age.xlsx
Data_Analysis2014/OriginalData2014/federal age curve.csv
Data_Analysis2014/OriginalData2014/federal_county_full.xlsx
Data_Analysis2014/OriginalData2014/federal_premium_databook_2014.xlsx
Data_Analysis2014/OriginalData2014/idaho rating areas.xlsx
Data_Analysis2014/OriginalData2014/massachusetts.zip
Data_Analysis2014/REVISED ANALYSIS/401.xls
Data_Analysis2014/REVISED ANALYSIS/age40_300_revised.xls
Data_Analysis2014/REVISED ANALYSIS/snowbeck.xls
Data_Analysis2014/REVISED ANALYSIS/snowbeck2.xls
Data_Analysis2014/data to distribute/AK_incomelkup.csv
Data_Analysis2014/data to distribute/HI_incomelkup.csv
Data_Analysis2014/data to distribute/US_incomelkup.csv
Data_Analysis2014/data to distribute/datadictionary.xls
Data_Analysis2014/data to distribute/ex_benchmarks_age50.xlsx
Data_Analysis2014/data to distribute/ex_benchmarks_allages.csv
Data_Analysis2014/data to distribute/new_basic.xls
Data_Analysis2014/data to distribute/new_legend.csv
Data_Analysis2014/data to distribute/new_online.csv
Data_Analysis2014/income_lookup.xls
Data_Analysis2014/rate2.kml
Data_Analysis2014/record layout.xlsx